[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pylint = "*"

[packages]
ffmpeg-python = "*"
pymongo = "*"
tinydb = "==4.1.1"
"discord.py" = "*"
dnspython = "*"
pynacl = "*"
google-cloud-storage = "*"
google-auth = "*"
pytube3 = {editable = true, git = "https://github.com/nficano/pytube", ref = "v9.7.0"}
pydub = "*"

[requires]
python_version = "3.8"
